* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 93%);
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}
button {
  padding: 2% 4%;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
}
button:hover {
  background-color: hsl(176, 72%, 28%);
  cursor: pointer;
}
.site-body {
  margin: 5% 24% 0%;
  position: relative;
  transform: translateY(-13%);
}
/**********************header**********************/
.header {
  background: url("images/image-hero-desktop.jpg") no-repeat;
  background-size: contain;
  padding: 5% 10% 22%;
}
.navbar {
  display: flex;
  color: hsl(0, 0%, 100%);
}
.logo {
  float: left;
}
.navitem {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-end;
}
.navitem button {
  border: none;
  margin-left: 4%;
  padding: 0%;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}
/*****************************section1*********************/
.section1 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
}
.sec1-header {
  padding-bottom: 3%;
}

.sec1-header > img {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1-body {
  text-align: center;
}
.sec1-body > h2 {
  font-weight: 700;
  padding: 1% 0%;
  color: hsl(0, 0%, 0%);
}
.sec1-body > p {
  font-weight: 500;
  padding: 1% 0%;
  color: hsl(0, 0%, 48%);
}
.sec1-footer {
  padding: 3% 5% 5%;
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-radius: 25px;
  background-color: hsl(0, 0%, 96%);
  padding-right: 3%;
}
.bookmark .btn-2 {
  background-color: transparent;
  color: hsl(0, 0%, 48%);
  font-weight: 700;
}
/***********************section2************************/
.section2 {
  background-color: hsl(0, 0%, 100%);
  margin: 3% 0%;
  padding: 3% 2%;
  border-radius: 5px;
}
.sec2-header {
  display: flex;
  flex-direction: row;
  padding: 2% 0%;
}
.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  flex: 33.33%;
  text-align: left;
  font-weight: 700;
  padding: 0% 3%;
}
.col2 {
  border-left: 2px solid hsl(0, 0%, 93%);
  border-right: 2px solid hsl(0, 0%, 93%);
}
h1 {
  padding: 3% 0%;
  color: hsl(0, 0%, 0%);
}
.sec2-header p {
  color: hsl(0, 0%, 48%);
}
.progress-bar {
  margin: 3%;
  background-color: hsl(0, 0%, 96%);
  border-radius: 25px;
}
.progress {
  background-color: hsl(176, 50%, 47%);
  border-radius: 25px;
  width: 78%;
  height: 10px;
}
/***************************section3*********************/
.section3 {
  background-color: hsl(0, 0%, 100%);
  padding: 5%;
  border-radius: 5px;
}
h3 {
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
.section3 > p {
  color: hsl(0, 0%, 48%);
  text-align: left;
  line-height: 1.5;
  margin: 4% 0%;
}
.card {
  border: 1px solid hsl(0, 0%, 83%);
  border-radius: 5px;
  padding: 5%;
  margin: 3% 0%;
}
.card-header {
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
}
.card-title1,
.card-title2 {
  display: flex;
  flex: 50%;
}
.card-title1 {
  justify-content: flex-start;
}
.card-title2 {
  justify-content: flex-end;
  color: hsl(176, 50%, 47%);
}
h4 {
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
.card-body {
  line-height: 1.5;
  color: hsl(0, 0%, 48%);
}
.card-footer {
  margin: 3% 0% 0%;
  display: flex;
  flex-direction: row;
}
.foot-item1,
.foot-item2 {
  display: flex;
  flex-direction: row;
  flex: 50%;
  align-items: center;
}
.foot-item1 {
  justify-content: flex-start;
}
.foot-item1 p {
  padding: 0% 2%;
  color: hsl(0, 0%, 48%);
}
.foot-item2 {
  justify-content: flex-end;
}
.foot-item2 button {
  padding: 4%;
  width: 130px;
  height: auto;
}
/*******************************modal1*****************/
.modal {
  display: none;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  overflow: scroll;
}
.modal1 {
  display: none;
  margin: 15% 24%;
  background-color: hsl(0, 0%, 100%);
  padding: 3%;
  color: hsl(0, 0%, 48%);
  font-weight: 400;
  border-radius: 5px;
}
.modal-header {
  padding-bottom: 3%;
}
.modal-title {
  margin-bottom: 3%;
}
.modal-title img {
  float: right;
}
.modal-title img:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.modal-title h3 {
  padding: 1% 0%;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.modal-body {
  margin: 2% 0%;
}
.card-option {
  border: 1px solid hsl(0, 0%, 83%);
  border-radius: 5px;
  padding-top: 6%;
  margin: 4% 0%;
}
.card-option-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 3%;
}
.left,
.right {
  display: flex;
  flex: auto;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.left input[type="radio"] {
  align-self: center;
  width: 25px;
  height: 25px;
}
.card-option-title {
  margin-left: 12%;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  color: hsl(0, 0%, 0%);
}
.card-option-title span {
  color: hsl(176, 50%, 47%);
  padding-left: 2%;
  font-weight: 400;
}
.right p {
  margin-left: 4%;
  font-weight: 500;
}
.card-option-body {
  padding: 3% 2% 6%;
  margin-left: 12%;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}
.status {
  display: none;
  /*display: flex;*/
}
.status p {
  margin-left: 2%;
  font-weight: 500;
}
.card-option-footer {
  display: none;
  /*display: flex;*/
  flex-direction: row;
  padding: 3%;
  align-items: center;
  border-top: 1px solid hsl(0, 0%, 83%);
}
.card-foot1,
.card-foot2 {
  display: flex;
  flex-direction: row;
}
.card-foot1 {
  flex: 40%;
  justify-content: flex-start;
  font-weight: 500;
}
.card-foot2 {
  flex: 60%;
  justify-content: flex-end;
}
.input-text {
  display: flex;
  align-items: center;
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 25px;
  margin-right: 4%;
  padding: 0% 5%;
  font-size: 18px;
  font-weight: 700;
}
.card-foot2 input[type="text"] {
  width: 50px;
  height: auto;
  padding: 10%;
  font-weight: 700;
  font-size: 18px;
  border: none;
  outline: none;
}
.card-foot2 button {
  height: auto;
  width: 110px;
  padding: 4%;
}
/*******************************modal2*******************/
.modal2 {
  display: none;
  margin: 10% 35%;
  background-color: hsl(0, 0%, 100%);
  padding: 3%;
  color: hsl(0, 0%, 48%);
  font-weight: 400;
  border-radius: 5px;
}
.modal2 img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.modal2 h2 {
  margin: 10% 0% 6%;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  text-align: center;
}
.modal p {
  margin-bottom: 10%;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}
.modal2 button {
  height: 40px;
  width: 90px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
